@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz!</h1>
    <p>
        Github Hesabım; <a href="https://github.com/erenmulkoglu96">ASP.NET Core ile Web uygulamaları oluşturma hakkında bilgi edinin</a>.
    </p>
</div>
